@import "../../../scss/index.scss";

.menu-top {
  display: flex;

  button {
    color: $font-light;
    margin-left: 35px;

    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    &-logo {
      width: 100px;
      padding: 0 10px;
      margin-left: 50px;
    }
  }

  &__right {
    position: absolute;
    right: 1rem;
  }
}
