#single-page-slider {
    padding-top: 50px;
    width: 100%;
    height: 35vh;
    background: url("../../../assets/img/section-recipe.jpg") top left;
    background-size: cover;
    position: relative;
}

#single-page-slider:before {
    content: "";
    background: rgba(41, 39, 39, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #single-page-slider .container {
    position: relative;
  }

  @media (max-width: 992px) {
    #single-page-slider .container {
      padding-top: 58px;
    }
  }

  #single-page-slider h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }


  @media (min-width: 1024px) {
    #single-page-slider {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #single-page-slider {
      height: 25vh;
    }
    #single-page-slider h1 {
      font-size: 28px;
      line-height: 36px;
      padding-top: 10px;
    }
  }
  
  @media (max-height: 500px) {
    #single-page-slider {
      height: 25vh;
    }
  }


  #content-wrapper {
    padding: 0;
    z-index: 5;
    position: relative;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}

.white {
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 0;
}

#content-wrapper section {
  padding-bottom: 60px;
}

@media all and (max-width: 768px) {
  #content-wrapper {
      margin-bottom: 0 !important;
  }
  #footer-wrapper {
      position: relative !important;
  }
}

.blog .blog-item {
  background-color: #fff;
  margin-bottom: 40px;
}

.blog .blog-item .img-blog {
  width: 100%;
  border-radius: 0;
  height: auto;
}

.blog .blog-item .blog-content {
  padding: 30px 40px !important;
  position: relative;
  border-bottom: 4px solid #f0f0f0;
}

.blog .blog-item .blog-content:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}

.blog .blog-item h3 {
  margin-top: 0;
}

.blog .blog-item .entry-meta {
  text-transform: uppercase;
  font-size: 12px;
  color: #737373;
  margin-bottom: 11px;
}

.blog .blog-item .entry-meta > span {
  display: inline-block;
  color: #999;
  margin-right: 10px;
  font-size: 12px;
}

.blog .blog-item .entry-meta > span a {
  color: #999;
}

.blog-featured-image {
  position: relative;
  padding: 0;
}


.blog-featured-image:hover .overlay {
  opacity: 1;
}

.blog .blog-item .blog-content {
  padding: 60px 40px;
  position: relative;
  border-bottom: 4px solid #f0f0f0;
}

.gap {
  margin-bottom: 50px;
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 1px;

}



hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.btn {
  font-weight: 400;
 
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  margin-right: 2px;
  margin-top: 10px;
}

.btn-outlined.btn-primary {
  background: none;
  color: #fff;
  background: #5b92c2;

}

.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
  color: #fff;
  background: #4B79A1;
  border-color: #4B79A1 ;
}

/*  Conmments
/*-----------------------------------------------------------------------------------*/

img.comment-avatar {
  max-width: 80px;
  height: auto;
}

img.author-box-image {
  max-width: 110px;
  height: auto;
}

#comments-list .well {
  position: relative;
  overflow: hidden;
}

#comments-list .well:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(245, 245, 245, 0);
  border-right-color: #f5f5f5;
  border-width: 10px;
  margin-top: -10px;
}

.section-inner.gap {
  margin-bottom: 0 !important;
}

.widget {
  margin-bottom: 30px;
}

.widget-title {
  margin-top: 0;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

ul.arrow {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tag-cloud li {
  display: inline-block;
  margin: 0 0 2px;
}

.btn-sm, .btn-xs {
  padding: 5px 10px;
  font-size: 12px;
}