/* Notices Section
--------------------------------*/


.swiper-container {
  background-color: #fff;
  height: 100%;
  width: 80%;
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.notices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}


.size {
  width: 18rem;
  margin-left: 50px;
}