.titulo{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.add-user-form {
  .form-add {
    text-align: center;

    .ant-form-item {
      margin-top: 20px;
      margin-bottom: 5px;


      i {
        color: rgba(0, 0, 0, 0.25);
      }
    }

    .btn-submit {
      width: 50%;
    }
  }
}
