.logo img {
  max-height: 60px;
  margin-left: 20px;
  padding: 0px 0px 0px !important;
  float: left;
}

.navbar {
  padding: 0rem 1rem !important;
}
  
.dropdown-menu {
  font-size: 14px;
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
  }


.navbar-brand {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2em;
  color:royalblue;
}

.nav-item{
  font-weight: 450;
  padding-top: 10px;
}


.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link
 {
  color: #0b6bd3;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #007bff;
  padding: 5px 20px;
}

.navbar-light .navbar-toggler 
{
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
  margin-right: 10px;
}

.login {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
  background-color: #0b6bd3;

}

.login:hover {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
  background-color: #007bff;

}

.perfil {
  max-height: 35px;
  margin-right: 10px;
  border-radius: 150px;

}

.nombre {
  font-size: 14px;
}

@media screen and (max-width:990px){

  header nav ul li {
    border-bottom: 1px solid #007bff;
  }

  header nav ul li:hover {
    border-bottom: 1px solid #007bff;
    color: #fff;
    background-color: rgb(184, 183, 183);
  }

.login {
  margin: 10px 10px;
}

}