.notFound {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem
}

.mx-auto {
    margin-right: auto !important
}


.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.text-gray-800 {
    color: #5a5c69 !important
}

.text-gray-500 {
    color: #b7b9cc !important
}

#margin {
    padding-top: 150px;
    padding-bottom: 210px;
}

