// Para poder obtener las variables.scss
@import "../../scss/index.scss";

.layout-admin {
  transition: margin-left 0.2s;

  &_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0;
    height: 65px;
  }

  &_content {
    min-height: 100vh;
    padding: 90px 15px 15px 15px;
  }

  &_footer {
    padding: 20px;
  }
}
